{template "content","header"}
<!--main-->
<script type="text/javascript" src="{siteurl($siteid)}/style/my.js"></script>
<div class="home-cate">
	
	<div class="home-cates">
		
        <div class="hc-div-cate hc-div-cate1">{$CATEGORYS[14]['catname']}</div>
        <div class="hc-div hc-div1">
            <div class="hc-div-t">{$CATEGORYS[14]['catname']}</div>
            <ul >
				{pc:content action="category" catid="14" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[14]['url']}"><img alt="{$CATEGORYS[14]['catname']}" src="{$CATEGORYS[14]['image']}" /></a></li>
            </ul>
        </div>
		
    </div>
	
	
    <div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate2">{$CATEGORYS[15]['catname']}</div>
        <div class="hc-div hc-div2">
            <div class="hc-div-t">{$CATEGORYS[15]['catname']}</div>
            <ul>
                {pc:content action="category" catid="15" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[15]['url']}"><img alt="{$CATEGORYS[15]['catname']}" src="{$CATEGORYS[15]['image']}" /></a></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate3">{$CATEGORYS[20]['catname']}</div>
        <div class="hc-div hc-div3">
            <div class="hc-div-t">{$CATEGORYS[20]['catname']}</div>
            <ul>
                {pc:content action="category" catid="20" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[20]['url']}"><img alt="{$CATEGORYS[20]['catname']}" src="{$CATEGORYS[20]['image']}" /></a></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate4">{$CATEGORYS[21]['catname']}</div>
        <div class="hc-div hc-div4">
            <div class="hc-div-t">{$CATEGORYS[21]['catname']}</div>
            <ul>
                {pc:content action="category" catid="21" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[21]['url']}"><img alt="{$CATEGORYS[21]['catname']}" src="{$CATEGORYS[21]['image']}" /></a></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate5">{$CATEGORYS[22]['catname']}</div>
        <div class="hc-div hc-div5">
            <div class="hc-div-t">{$CATEGORYS[22]['catname']}</div>
            <ul>
                {pc:content action="category" catid="22" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[22]['url']}"><img alt="{$CATEGORYS[22]['catname']}" src="{$CATEGORYS[22]['image']}" /></a></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate6">{$CATEGORYS[23]['catname']}</div>
        <div class="hc-div hc-div6">
            <div class="hc-div-t">{$CATEGORYS[23]['catname']}</div>
            <ul>
                {pc:content action="category" catid="23" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[23]['url']}"><img alt="{$CATEGORYS[23]['catname']}" src="{$CATEGORYS[23]['image']}" /></a></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate7">{$CATEGORYS[24]['catname']}</div>
        <div class="hc-div hc-div7">
            <div class="hc-div-t">{$CATEGORYS[24]['catname']}</div>
            <ul>
                {pc:content action="category" catid="24" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[24]['url']}"><img alt="{$CATEGORYS[24]['catname']}" src="{$CATEGORYS[24]['image']}" /><a href="{$CATEGORYS[24]['url']}"></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate8">{$CATEGORYS[25]['catname']}</div>
        <div class="hc-div hc-div8">
            <div class="hc-div-t">{$CATEGORYS[25]['catname']}</div>
            <ul>
                {pc:content action="category" catid="25" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><a href="{$CATEGORYS[25]['url']}"><img alt="{$CATEGORYS[25]['catname']}" src="{$CATEGORYS[25]['image']}" /><a href="{$CATEGORYS[25]['url']}"></li>
            </ul>
        </div>
    </div>
	<!-- <div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate9">{$CATEGORYS[26]['catname']}</div>
        <div class="hc-div hc-div9">
            <div class="hc-div-t">{$CATEGORYS[26]['catname']}</div>
            <ul>
                {pc:content action="category" catid="26" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><img alt="{$CATEGORYS[26]['catname']}" src="{$CATEGORYS[26]['image']}" /></li>
            </ul>
        </div>
    </div>
	<div class="home-cates ml-38">
        <div class="hc-div-cate hc-div-cate10">{$CATEGORYS[27]['catname']}</div>
        <div class="hc-div hc-div10">
            <div class="hc-div-t">{$CATEGORYS[27]['catname']}</div>
            <ul>
                {pc:content action="category" catid="27" num="4"}
				{loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
				{/pc}
                <li class="hc-div-img"><img alt="{$CATEGORYS[27]['catname']}" src="{$CATEGORYS[27]['image']}" /></li>
            </ul>
        </div>
    </div> -->
</div>
<div class="clear"></div>

<div class="scroll">
<div class="mr_frbox">
		<img class="mr_frBtnL prev" src="{siteurl($siteid)}/style/img/left02.gif" width="18" height="55" />
		<div class="mr_frUl">
			<ul>
				{pc:content action="position" posid="18" order="id" num="20"}
				{loop $data $r}
				

				<li>
				<a href="{$r[url]}" title="{$r[title]}" target="_blank">
				<div class="mask"></div>
				<div class="zoom"></div>
				<img alt="{$r[title]}" src="{$r[thumb]}" /><p>{$r[title]}</p>
				</a>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>
		<img class="mr_frBtnR next" src="{siteurl($siteid)}/style/img/right02.gif" width="18" height="55" />
</div>
</div>

<div class="m-img">
	{pc:content action="lists" catid="1" num="1" order="id DESC" moreinfo="1"}
	{loop $data $r}
	<div class="m-img-tel">致电：{$r[tel]}</div>
	{/loop}
	{/pc}
	<p align="center"><a href="{$CATEGORYS[9]['url']}"><img src="{siteurl($siteid)}/style/img/jj.png"/></a></p>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var $tab_li = $('.tab-t span');
	$tab_li.click(function(){
		$(this).addClass('tabcon').siblings().removeClass('tabcon');
		var index = $tab_li.index(this);
		$('div.tab-info > div').eq(index).show().siblings().hide();
	});	
});
</script>
<div class="tabs">
	<div class="tab-t">
    	<span class="tabcon"><img src="{siteurl($siteid)}/style/img/s1.png" />公司概况</span>
        <span><img src="{siteurl($siteid)}/style/img/s2.png" />核心优势</span>
        <span><img src="{siteurl($siteid)}/style/img/s3.png" />新闻动态</span>
    </div>
    <div class="tab-info">
    	<div>
        	<h1><img src="{siteurl($siteid)}/style/img/about.png" /></h1>
            <div class="tab-infos">
            	<div class="fl">
                	<div>
                        <div class="slider" id="slider">
                            <ul class="sliderbox">
                                <li>
                                    <a><img src="{siteurl($siteid)}/style/img/slider1.jpg" alt="帝赛德锯床"></a>
                                </li>
                                <li>
                                    <a><img src="{siteurl($siteid)}/style/img/slider2.jpg" alt="帝赛德锯床"></a>
                                </li>
                                <li>
                                    <a><img src="{siteurl($siteid)}/style/img/slider3.jpg" alt="帝赛德锯床"></a>
                                </li>
                            </ul>
                            <ul class="slidernav"></ul>
                            
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>
                <div class="fr">
				{pc:content action="lists" catid="1" num="1" order="id DESC" moreinfo="1"}
				{loop $data $r}
                <div class="about">{$r[content]}</div>
				{/loop}
				{/pc}
				<div class="see-more" style="text-align:right;"><a href="{$CATEGORYS[10]['url']}">[查看详情]</a></div>
                </div>
            </div>
        </div>
        <div class="hide">
        	<h1><img src="{siteurl($siteid)}/style/img/youshi.png" /></h1>
			{pc:content action="lists" catid="1" num="1" order="id DESC" moreinfo="1"}
			{loop $data $r}
            <div class="tab-infos">
            	{$r[youshi]}
            </div>
			{/loop}
			{/pc}
            <div class="more"><a href="{$CATEGORYS[6]['url']}">查看更多内容...</a></div>
        </div>
        <div class="hide">
        	<h1><img src="{siteurl($siteid)}/style/img/news.png" /></h1>
            
            
            <div class="home-news">
            	<ul>
					{pc:content action="lists" catid="3" num="6" order="id DESC"}
					{loop $data $r}
                	<li>
                    	<div class="date">
                            <div style=" background:#CCC; font-size:24px; color:#666;">{date('d',$r[inputtime])}</div>
                            <div style="font-size:14px; color:#666;">{date('F',$r[inputtime])}</div>
                        </div>
                        <div class="news-info">
                        	<h4><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],50,'...')}</a></h4>
                            <p>{str_cut($r[description],150,'...')}</p>
                        </div>
                    </li>
                    {/loop}
					{/pc}
                </ul>
                <div class="clear"></div>
            </div>
            <div style="height:100px;"></div>
            <div class="more"><a href="{$CATEGORYS[3]['url']}">查看更多内容...</a></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{siteurl($siteid)}/style/power-slider.js"></script>
<script type="text/javascript">
    $(function(){  
        $("#slider").powerSlider({handle:"fadeTo"});
        //$("#text").powerSlider();
        //$("#img").powerSlider({picNum:4,handle:"hide"});
        $(".code h3 span").each(function(i){
        	$(this).click(function(){
        		$(this).addClass("active").siblings().removeClass("active");
        		$(".code pre").eq(i).show().siblings("pre").hide();
        	})
        })
    });
</script>
<div class="clear"></div>
<script src="{siteurl($siteid)}/style/scrollleft.js"></script>
<div class="custom">
	<div class="all">
    	<h1><img src="{siteurl($siteid)}/style/img/part.png" /></h1>
        <div class="part scrollleft">
        	<ul>
				{pc:content action="lists" catid="45" num="10" order="id DESC"}
				{loop $data $r}
            	<li><a href="{$CATEGORYS[45]['url']}"><img src="{$r[thumb]}" />{$r[title]}</a></li>
                {/loop}
				{/pc}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
		$(document).ready(function(){
		
			$(".scrollleft").imgscroll({
				speed: 40,    //图片滚动速度
				amount: 0,    //图片滚动过渡时间
				width: 1,     //图片滚动步数
				dir: "left"   // "left" 或 "up" 向左或向上滚动
			});
			
		 });
		</script>
{template "content","footer"}