{template "content","header"}
<div class="main">
	<div class="fl left">
    	{template "content","sidebar"}
    </div>
    <div class="fr right">
    	<div class="rt"><em class="fl">视频列表/<i>VIDEO</i></em><span class="fr">当前位置: <a href="{siteurl($siteid)}">首页</a>&nbsp;>&nbsp;{preg_replace('/( \> )$/', '', catpos($catid))}</span></div>
        <div class="clear"></div>
        <div class="video">
			{pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
			{loop $data $r}
			<div class="fl video-li">
                <div id="youkuplayer" style="width:400px;height:240px"></div>
                <script type="text/javascript" src="http://player.youku.com/jsapi">
                player = new YKU.Player('youkuplayer',{
                styleid: '0',
                client_id: 'YOUR YOUKUOPENAPI CLIENT_ID',
                vid: '{$r[youkuid]}'
                });
                </script>
            </div>
            
			{/loop}
			{/pc}
        </div>
    </div>
    <div class="clear"></div>
</div>
{template "content","footer"}
