{template "content","header"}
<!--main-->
<div class="main">
	<div class="fl left">
    	{template "content","sidebar"}
    </div>
    <div class="fr right">
    	<div class="rt"><em class="fl">{$CAT[catname]}</em><span class="fr">当前位置: <a href="{siteurl($siteid)}">首页</a>&nbsp;>&nbsp;{preg_replace('/( \> )$/', '', catpos($catid))}</span></div>
        <div class="pic-honor">
			{pc:content action="lists" catid="$catid" num="15" order="id DESC" page="$page"}
        	<ul>
				{loop $data $r}
            	<li><a href="{$r[thumb]}"><img src="{$r[thumb]}" width="220" height="110"/><p>{$r[title]}</p></a></li>
                {/loop}
            </ul>
            <div class="clear"></div>
            <div class="page">{$pages}</div>
			{/pc}
        </div>
    </div>
    <div class="clear"></div>
</div>
{template "content","footer"}