{template "content","header"}
<div class="main">
	<div class="fl left">
    	{template "content","sidebar"}
    </div>
    <script type="text/javascript">
	$(document).ready(function(){
		var $tab_li = $('.page-tab span');
		$tab_li.click(function(){
			$(this).addClass('pg-tab').siblings().removeClass('pg-tab');
			var index = $tab_li.index(this);
			$('div.page-show > div').eq(index).show().siblings().hide();
		});	
	});
	</script>
    <div class="fr right">
    	<div class="rt"><em class="fl">{$CAT[catname]}</em><span class="fr">当前位置: <a href="{siteurl($siteid)}">首页</a>&nbsp;>&nbsp;{preg_replace('/( \> )$/', '', catpos($catid))}</span></div>
        <div class="page-tab"><span>锯切方案</span>|<span>产品特点</span>|<span class="pg-tab">效率对比</span></div>
        <div class="page-show">
			{pc:get sql="SELECT * FROM v9_page where catid=34"}
			{loop $data $key $r}
        	<div class="hide">{$r[content]}</div>
			{/loop}
			{/pc}
			{pc:get sql="SELECT * FROM v9_page where catid=35"}
			{loop $data $key $r}
        	<div class="hide">{$r[content]}</div>
			{/loop}
			{/pc}
			{pc:get sql="SELECT * FROM v9_page where catid=36"}
			{loop $data $key $r}
        	<div>{$r[content]}</div>
			{/loop}
			{/pc}
			
            
        </div>
    </div>
    <div class="clear"></div>
</div>
{template "content","footer"}