{template "content","header"}

<?php
 if($child){
     $child_arrary=explode(',',$arrchildid);
        $to_url=$CATEGORYS[$child_arrary[1]][url];
  echo "<script>window.location.href='".$to_url."'</script>";
    }
?>

<div class="breadcrumb">
{$CAT[catname]}
</div>

<div class="show">

<div class="content">{$content}</div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}